<h2 class="title">{{ 'evaluation.listTitle' | translate }}</h2>

<div *ngIf="isLoading" class="status loading">{{ 'common.loading' | translate }}</div>
<div *ngIf="errorMsg" class="status error">{{ errorMsg }}</div>

<div class="intern-list" *ngIf="!isLoading && !errorMsg && interns.length > 0">
  <div class="intern-card" *ngFor="let intern of interns">
    <div class="left">
      <div class="name-row">
        <span class="intern-name">{{ intern.name || '(' + ('common.unnamed' | translate) + ')' }}</span>
       <span class="badge"
      [ngClass]="{
        'badge-active': intern.status?.toLowerCase() === 'aktif',
        'badge-done': intern.status?.toLowerCase() === 'tamamlandı',
        'badge-passive': intern.status?.toLowerCase() === 'pasif'
      }">
  {{ intern.status || ('common.noStatus' | translate) }}
</span>
      </div>
    <div class="right">
      <button mat-raised-button color="primary" (click)="showDetails(intern.id)">
        {{ 'common.details' | translate }}
      </button>
    </div>
  </div>
</div>
<div *ngIf="!isLoading && !errorMsg && interns.length === 0" class="status empty">
  {{ 'evaluation.noInternsHelp' | translate }}
</div>
