<div class="home-container">
<div class="yazi">
    <h1>{{ 'home.welcome' | translate }} 👋</h1>
  <p class="subtitle">
    {{ 'home.subtitle' | translate }}
  </p>
</div>
  <nav class="quick-actions" [attr.aria-label]="'home.quickActions' | translate">
    <a class="action-card" routerLink="/dashboard/intern-form" [attr.aria-label]="'home.addIntern' | translate">
      <mat-icon aria-hidden="true">person_add</mat-icon>
      <h3>{{ 'home.cards.addIntern.title' | translate }}</h3>
      <p>{{ 'home.cards.addIntern.desc' | translate }}</p>
    </a>

    <a class="action-card" routerLink="/dashboard/assign-project" [attr.aria-label]="'home.assignProject' | translate">
      <mat-icon aria-hidden="true">assignment</mat-icon>
      <h3>{{ 'home.cards.assign.title' | translate }}</h3>
      <p>{{ 'home.cards.assign.desc' | translate }}</p>
    </a>

    
   <a class="action-card" routerLink="/dashboard/evaluations" [attr.aria-label]="'home.evaluation' | translate">
  <mat-icon aria-hidden="true">bar_chart</mat-icon>
  <h3>{{ 'home.cards.evaluation.title' | translate }}</h3>
  <p>{{ 'home.cards.evaluation.desc' | translate }}</p>
</a>

  </nav>
</div>
