<ul class="sidebar-list">
  <li>
    <a class="sidebar-btn"
       routerLink="/dashboard"
       [routerLinkActiveOptions]="{ exact: true }"
       routerLinkActive="active-link"
       (click)="onLinkClick()">
      <mat-icon>home</mat-icon><span>{{ 'sidebar.home' | translate }}</span>
    </a>
  </li>

  <li>
    <a class="sidebar-btn"
       routerLink="/dashboard/intern-list"
       routerLinkActive="active-link"
       (click)="onLinkClick()">
      <mat-icon>group</mat-icon><span>{{ 'sidebar.interns' | translate }}</span>
    </a>
  </li>

  <li>
    <a class="sidebar-btn"
       routerLink="/dashboard/intern-form"
       routerLinkActive="active-link"
       (click)="onLinkClick()">
      <mat-icon>person_add</mat-icon><span>{{ 'sidebar.addIntern' | translate }}</span>
    </a>
  </li>

  <li>
    <a class="sidebar-btn"
       routerLink="/dashboard/assign-project"
       routerLinkActive="active-link"
       (click)="onLinkClick()">
      <mat-icon>assignment</mat-icon><span>{{ 'sidebar.assignProject' | translate }}</span>
    </a>
  </li>

  <li>
    <a class="sidebar-btn"
       routerLink="/dashboard/evaluations"
       routerLinkActive="active-link"
       (click)="onLinkClick()">
      <mat-icon>star_rate</mat-icon><span>{{ 'sidebar.evaluations' | translate }}</span>
    </a>
  </li>
<li class="sidebar-exit">
  <a class="sidebar-btn"
     href
     (click)="exitApp(); $event.preventDefault()">
    <mat-icon>exit_to_app</mat-icon><span>{{ 'sidebar.exit' | translate }}</span>
  </a>
</li>

