<app-intern-filter
  [periods]="availablePeriods"
  (filterChanged)="onFiltersChanged($event)">
</app-intern-filter>

<div class="total-count">
  Toplam Stajyer Sayısı: {{ filteredInterns.length }}
</div>

<table>
  <thead>
    <tr>
      <th>İsim</th>
      <th>Okul</th>
      <th>Bölüm</th>
      <th>Başlangıç Tarihi</th>
      <th>Bitiş Tarihi</th>
      <th>Durum</th>
      <th>İşlem</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let intern of filteredInterns">
      <td>{{ capitalizeFirst(intern.first_name) }} {{ capitalizeFirst(intern.last_name) }}</td>
      <td>{{ capitalizeFirst(intern.school) }}</td>
      <td>{{ capitalizeFirst(intern.department) }}</td>
      <td>{{ intern.start_date }}</td>
      <td>{{ intern.end_date }}</td>
      <td>{{ capitalizeFirst(intern.status) }}</td>
      <td>
        <button mat-icon-button color="warn" (click)="deleteIntern(intern)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
