<app-intern-filter
  [periods]="availablePeriods"
  (filterChanged)="onFiltersChanged($event)">
</app-intern-filter>

<div class="list-header">
  <div class="total-count">
    {{ 'internList.totalCount' | translate }}: {{ filteredInterns.length }}
  </div>

<button mat-raised-button class="update-cta" (click)="goToUpdate()">
  <mat-icon>edit</mat-icon>
  <span>{{ 'internList.updateIntern' | translate }}</span>
</button>

</div>
<table>
  <thead>
    <tr>
      <th>{{ 'internList.name' | translate }}</th>
      <th>{{ 'internList.school' | translate }}</th>
      <th>{{ 'internList.department' | translate }}</th>
      <th>{{ 'internList.startDate' | translate }}</th>
      <th>{{ 'internList.endDate' | translate }}</th>
      <th>{{ 'internList.status' | translate }}</th>
      <th>{{ 'internList.actions' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let intern of filteredInterns">
      <td>{{ capitalizeFirst(intern.first_name) }} {{ capitalizeFirst(intern.last_name) }}</td>
      <td>{{ capitalizeFirst(intern.school) }}</td>
      <td>{{ capitalizeFirst(intern.department) }}</td>
      <td>{{ intern.start_date }}</td>
      <td>{{ intern.end_date }}</td>
      <td>{{ capitalizeFirst(intern.status) }}</td>
      <td>
        <button mat-icon-button color="warn" (click)="deleteIntern(intern)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
